<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenix.littlelife.repository.mapper.FamilyMapper">

    <resultMap id="BaseResultMap" type="com.phoenix.littlelife.repository.entity.Family">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,create_time
    </sql>
    <sql id="tableName">
        family
    </sql>
    <insert id="insertFamily" parameterType="com.phoenix.littlelife.repository.entity.Family">
        insert into <include refid="tableName"/> (<include refid="Base_Column_List"/>) values (#{param.id},#{param.name},#{param.createTime})
    </insert>

</mapper>
